



/* Overlay background */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  z-index: 1;
}

/* Show overlay */
.overlay.show {
  height: 100%;
}

/* Close button */
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* Content links */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay-content a:hover {
  color: #f1f1f1;
}
