@use "../../styles/variables/index" as v;
@use "../../styles/mixins/breakpoints" as b;

.burger-menu {
	display: none;

	@include b.break(tablet) {
		display: flex;
	}

	&__toggle {
		font-size: 30px;
		cursor: pointer;
		color: var(--txtcolor);
	}

	&__overlay {
		height: 0%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		overflow-y: hidden;
		transition: 0.5s;
		z-index: 10;

		&--show {
			height: 100%;
		}
	}

	&__close {
		position: absolute;
		top: 37px;
		right: 17px;
		font-size: 60px;
		text-decoration: none;
		color: var(--txtcolor);
		cursor: pointer;
		z-index: 11;
	}

	&__content {
		position: relative;
		top: 0;
		width: 100%;
		height: 400px;
		text-align: center;
		background: linear-gradient(#fff, v.$mt-orange);
		padding-top: 100px;
		margin-top: -1px;

		a {
			padding: 10px;
			text-decoration: none;
			font-size: 36px;
			color: var(--txtcolor);
			display: block;
			transition: 0.3s;

			@include b.break(mobile) {
				font-size: 24px;
			}
		}

		@include b.break(mobile) {
			height: 300px;
		}
	}

	&__wave {
		width: 100%;
	}
}


body.dark-mode {
	.burger-menu__content {
		background: linear-gradient(#1f1b3a, #6c63f9); 
	}

	.burger-menu__close,
	.burger-menu__content a,
	.burger-menu__toggle {
		color: white;
	}
}
