@use '../../styles/mixins/breakpoints' as b;



.team {

    &__desktopblop {
		@include b.break(mobile) {
			display: none;
		}
	}

	&__mobileblop {
		display: none;
		@include b.break(mobile) {
			display: block;
		}
	}
}