@use "../../styles/mixins/breakpoints" as b;

.nav-seperator {
	display: flex;
	position: relative;
	flex-direction: row;
	
}

.practical {
    
	&__desktopblop {
		@include b.break(mobile) {
			display: none;
		}
	}

	&__mobileblop {
		display: none;
		@include b.break(mobile) {
			display: block;
		}
	}
}
