@use "../../styles/variables/index" as v;
@use "../../styles/mixins/breakpoints" as b;
@use "sass:color";

.orangebox {
	border: none;
	background-color: color.adjust(v.$mt-orange, $lightness: 10%);
	border-radius: 8px;
	padding: 30px 35px;
	width: 350px;
	margin: 50px 0px 50px;

	@include b.break(laptop) {
		margin: 0px 0px 0px;
	}


	&--dark {
		background-color: v.$purple;
	}
	

	@include b.break(mobile) {
		margin: 0px 0px 0px;
		width: 75%;
	}

	&__list {
		color: v.$txtcolor;
		line-height: 1.5;
		font-weight: 500;
		@include b.break(tablet) {
		padding-left: 25px;
	}
		

		li {
			margin-bottom: 20px;
		}
	}
}




