@use "../../styles/mixins/breakpoints" as b;

.testimonials {

  &__desktopblop {
		@include b.break(mobile) {
			display: none;
		}
	}

	&__mobileblop {
		display: none;
		@include b.break(mobile) {
			display: block;
		}
	}
  
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;

    @include b.break(laptop) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    @include b.break(tablet) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
