.headerstyling {
	&__wave {
		position: absolute;
		top: 0px;
		width: 100%;
        z-index: -1;
	}

	.overnav {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        

        &__morningtrain {
            height: 50px;
        }
		.navigation {
            display: flex;
            justify-content: space-between;
            width: 700px;
            
			a {
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-weight: 600;
                
            }
		}

        &__moon {
            height: 20px;
        }

	}
}
