@use "../../styles/variables/index" as v;
@use "../../styles/mixins/breakpoints" as b;

.contenth2 {
	&__category {
		color: v.$mt-orange;
		font-weight: 900;
	}

	&__paragraph {
		&__bold1 {
			font-weight: 800;
			margin-bottom: 5px;
		}

		&__bold2 {
			font-weight: 800;
			margin-bottom: 5px;
		}
	}
}
