@use "../../styles/mixins/breakpoints" as b;

.ressources {
	position: relative;

	&__desktopblop {
		@include b.break(mobile) {
			display: none;
		}
	}

	&__mobileblop {
		display: none;
		@include b.break(mobile) {
			display: block;
		}
	}




	&__images {
		display: flex;
		justify-content: center;
		width: 80%;
		margin: 20px auto 0px;
		border-radius: 8px;

		@include b.break(tablet) {
			width: 75%;
		}

		@include b.break(mobile) {
			width: 100%;
		}
	}
}
