@use "../../styles/mixins/breakpoints" as b;
@use "../../styles/variables/index" as v;

html {
	scroll-behavior: smooth;
}
.sidebar {
	position: fixed;
	left: 50px;
	top: 300px;
    z-index: 10;

	
		
		
		li {
			list-style: none;
			margin-top: 20px;
            
			a {
				text-decoration: none;
                color: var(--txtcolor);
                font-weight: 600;
                font-size: 18px;
			}
		}
	
}
