@use "../../styles/mixins/breakpoints" as b;
@use "../../styles/variables/index" as v;

html {
    scroll-behavior: smooth;
}
.sidebar {
    position: sticky;
    z-index: 10;
    top:200px;
    align-self: flex-start; 

    
    @include b.break(tablet) {
        display: none;
    }

    &__line {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
    }
    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
        margin-right: 50px;
        

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: var(--txtcolor);
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}
