@use '../../styles/variables/index' as v;

.footer {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        color: v.$grey;
    }

    &__linktext {
        text-decoration: none;
        color: v.$txtcolor;
        font-weight: 500;
        padding: 0 0.5rem;
    }
    &__description {
        color: v.$grey;
        font-size: 12px;
    }
}