@use "../../styles/mixins/breakpoints" as b;

.contentheader__tagline {
  color: var(--txtcolor); // ✅ Reacts to dark mode
}

.culture {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__twoorange {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;

    @include b.break(laptop) {
        flex-direction: column;
        align-items: center;
        }
    }

    &__desktopblop {
		@include b.break(mobile) {
			display: none;
		}
	}

	&__cultureblop {
		display: none;
		@include b.break(mobile) {
			display: block;
		}
	}
}

.none {
    display: none;
}


